*.pt
*.pth
/data/
logs/
.pytest_cache/
.vscode/
__pycache__/
vasomim/runs/
vasomim/weights/*.pt
vit_yolo11/arcade/
!yolo/yolov9/data/
!yolo/yolov9/data/**
yolo/yolov9/runs/
yolo/yolov9/wandb/
yolo/yolov9/weights/