rfdetr==1.6.0
lie_learn==0.0.2
thop==0.1.1-2209072238
cuda-pathfinder==1.4.2
blinker==1.9.0
pexpect==4.9.0
huey==2.6.0
pycparser==3.0
joblib==1.5.3
opencv-python==4.13.0.92
jupyter_core==5.9.1
MarkupSafe==3.0.3
urllib3==2.6.3
Flask==3.1.3
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cusparselt-cu12==0.7.1
clearml==2.1.5
aiosignal==1.4.0
jedi==0.19.2
kiwisolver==1.5.0
sympy==1.14.0
orderedmultidict==1.0.2
exceptiongroup==1.3.1
pydeck==0.9.1
scipy==1.15.3
typing-inspection==0.4.2
safetensors==0.7.0
pydantic_core==2.41.5
lightning-utilities==0.15.3
referencing==0.37.0
filetype==1.2.0
torchmetrics==1.9.0
opentelemetry-proto==1.27.0
tzdata==2025.3
transformers==5.5.0
pluggy==1.6.0
SQLAlchemy==2.0.49
nvidia-cuda-nvrtc-cu12==12.8.93
packaging==25.0
yarl==1.23.0
tokenizers==0.22.2
regex==2026.4.4
rfdetr==1.6.0
nvidia-cudnn-cu12==9.10.2.21
streamlit-image-coordinates==0.4.0
pillow==12.1.1
ipython==8.37.0
ipython==8.38.0
threadpoolctl==3.6.0
zipp==3.23.0
escnn==1.0.13
pyzmq==27.1.0
tensorboard==2.20.0
pyarrow==23.0.1
GitPython==3.1.46
shapely==2.1.2
toml==0.10.2
hf-xet==1.4.2
nvidia-cublas-cu12==12.8.4.1
rich==14.3.3
cycler==0.12.1
executing==2.2.1
graphql-core==3.2.8
polars==1.39.3
albucore==0.0.24
typer==0.24.1
polars-runtime-32==1.39.3
tensorboardX==2.6.4
supervision==0.27.0.post1
tornado==6.5.4
greenlet==3.3.2
aiohappyeyeballs==2.6.1
cuda-bindings==12.9.4
ptyprocess==0.7.0
absl-py==2.4.0
tenacity==9.1.4
matplotlib-inline==0.2.1
jsonschema-specifications==2025.9.1
nvidia-cufft-cu12==11.3.3.83
idna==3.7
logfury==1.0.1
nvidia-nvtx-cu12==12.8.90
anyio==4.13.0
mlflow-skinny==3.10.1
pillow-avif-plugin==1.5.5
wheel==0.46.3
mlflow-tracing==3.10.1
ultralytics-thop==2.0.18
stack_data==0.6.3
setuptools==80.10.2
contourpy==1.3.2
numpy==2.2.6
psutil==7.2.2
pure_eval==0.2.3
docutils==0.21.2
httpcore==1.0.9
ultralytics==8.4.26
fastapi==0.135.3
accelerate==1.13.0
frozenlist==1.8.0
peft==0.18.1
uvicorn==0.43.0
simsimd==6.5.16
tabulate==0.9.0
tqdm==4.67.3
wcwidth==0.6.0
pyparsing==3.3.2
opentelemetry-sdk==1.40.0
albumentations==2.0.8
roboflow==1.3.1
nest_asyncio==1.6.0
opencv-python-headless==4.10.0.84
grpcio==1.78.0
prompt_toolkit==3.0.52
watchdog==6.0.0
pickleshare==0.7.5
databricks-sdk==0.67.0
nvidia-nvshmem-cu12==3.4.5
requests==2.32.5
platformdirs==4.9.4
Werkzeug==3.1.6
argcomplete==3.6.3
rpds-py==0.30.0
annotated-doc==0.0.4
pyasn1_modules==0.4.2
sqlparse==0.5.5
prettytable==3.17.0
starlette==1.0.0
multidict==6.7.1
skops==0.13.0
cachetools==7.0.5
google-auth==2.49.1
debugpy==1.8.20
matplotlib==3.10.8
httpx==0.28.1
triton==3.6.0
comm==0.2.3
click==8.3.1
pi_heif==1.3.0
torch==2.10.0
pip==26.0.1
traitlets==5.14.3
Jinja2==3.1.6
streamlit==1.55.0
pytest==9.0.2
mdurl==0.1.2
nvidia-curand-cu12==10.3.9.90
annotated-types==0.7.0
graphene==3.4.3
faster-coco-eval==1.7.2
deprecate==1.0.5
ipykernel==7.2.0
decorator==5.2.1
importlib_metadata==8.7.1
huggingface_hub==1.8.0
torchvision==0.25.0
pyasn1==0.6.3
opentelemetry-api==1.40.0
b2==4.6.0
python-dotenv==1.2.2
PyYAML==6.0.3
gitdb==4.0.12
nvidia-nccl-cu12==2.27.5
Mako==1.3.10
fonttools==4.62.0
pytz==2026.1.post1
propcache==0.4.1
nvidia-cufile-cu12==1.13.1.3
pytorch-lightning==2.6.1
rst2ansi==0.1.5
pymanopt==2.2.1
scikit-learn==1.7.2
certifi==2026.2.25
Markdown==3.10.2
cryptography==46.0.6
h11==0.16.0
nvidia-cusparse-cu12==12.5.8.93
jsonschema==4.26.0
jupyter_client==8.8.0
asttokens==3.0.1
iniconfig==2.3.0
nvidia-cuda-runtime-cu12==12.8.90
tomli==2.4.0
nvidia-nvjitlink-cu12==12.8.93
wandb==0.25.0
requests-toolbelt==1.0.0
streamlit-drawable-canvas==0.9.3
parso==0.8.6
mpmath==1.3.0
pydantic==2.12.5
flask-cors==6.0.2
altair==6.0.0
pathlib2==2.3.7.post1
cffi==2.0.0
PyJWT==2.12.1
b2sdk==2.10.4
fsspec==2026.2.0
narwhals==2.18.0
stringzilla==4.6.0
nvidia-cusolver-cu12==11.7.3.90
arrow==1.4.0
attrs==26.1.0
opentelemetry-semantic-conventions==0.61b0
furl==2.1.4
autograd==1.8.0
docker==7.1.0
aiohttp==3.13.5
pycocotools==2.0.11
sentry-sdk==2.57.0
mlflow==3.10.1
markdown-it-py==4.0.0
seaborn==0.13.2
itsdangerous==2.2.0
Pygments==2.19.2
pyDeprecate==0.7.0
graphql-relay==3.2.0
six==1.17.0
filelock==3.25.1
defusedxml==0.7.1
cloudpickle==3.1.2
pandas==2.3.3
protobuf==3.20.3
rf100vl==1.1.0
networkx==3.4.2
typing_extensions==4.15.0
timm==1.0.26
python-dateutil==2.9.0.post0
smmap==5.0.3
async-timeout==5.0.1
charset-normalizer==3.4.5
shellingham==1.5.4
gunicorn==25.3.0
alembic==1.18.4
tensorboard-data-server==0.7.2
rfdetr==1.6.0
